.square {
    width: 100px;
    height: 100px;
    background: papayawhip;
    border: 1px solid #fed766;
    cursor: pointer;
    outline: none;
    font-size: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.square:hover {
    background: #f0f0f0;
    transition: .3s all ease;
}

@media (max-width: 575px) {
    .square {
        width: 90px;
        height: 90px;
    }
  }