.onLogin {
    width: 200px;
    height: 35px;
    margin-bottom: 25px;
    cursor: pointer;
    color: #333;
    outline: none;
    background:  #fed766;
    border: 1px solid papayawhip;
}

input {
    width: 200px;
    height: 35px;
    margin-bottom: 25px;
}